.navBar{
    -fx-background-color:#2A3335;
    -fx-effect: dropshadow(one-pass-box,black,10,0,0,3);
}
.nav-top{
    -fx-background-color: #282e2f;
}
.nav-btn{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.nav-btn:hover {
    -fx-background-color: rgba(19, 59, 197, 0.11);
    -fx-border-color: #133BC5FF;
    -fx-border-width: 0 0 0 4px; /* top right bottom left */
}
.nav-logout-btn{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.nav-logout-btn:hover {
    -fx-background-color: rgba(197, 19, 19, 0.11);
    -fx-border-color: #c51313;
    -fx-border-width: 0 0 0 4px; /* top right bottom left */
}
.searchBar{
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
}
.searchBtn{
    -fx-background-color: none;
}
.lecImg{
    -fx-background-color:  #F0F8FF;
    -fx-background-radius: 8px;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right,  #42a4f5,  #42a4f5);
    -fx-border-radius: 8px;
}
.table-view .column-header-background{
    -fx-background-color:  #42a4f5;
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-insets: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.addBtn{
    -fx-background-color: #1ab41a;
}
.updateBtn{
    -fx-background-color: #44a7f1;
}
.deleteBtn{
    -fx-background-color: #ef3c3c;
}
.clearBtn{
    -fx-background-color: #f8b840;
}
.addBtn:hover{
    -fx-background-color: #61d261;
}
.updateBtn:hover{
    -fx-background-color: #89bde7;
}
.deleteBtn:hover{
    -fx-background-color: #e17474;
}
.clearBtn:hover{
    -fx-background-color: #e7ba69;
}
.lecBtn{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}
.lecBtn:hover{
    -fx-text-fill: black;
}
