.navBar{
    -fx-background-color:#2A3335;
    -fx-effect: dropshadow(one-pass-box,black,10,0,0,3);
}
.nav-top{
    -fx-background-color: #282e2f;
}
.nav-btn{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.nav-btn:hover {
    -fx-background-color: rgba(19, 59, 197, 0.11);
    -fx-border-color: #133BC5FF;
    -fx-border-width: 0 0 0 4px; /* top right bottom left */
}
.nav-logout-btn{
    -fx-background-color: none;
    -fx-text-fill: white;
}
.nav-logout-btn:hover {
    -fx-background-color: rgba(197, 19, 19, 0.11);
    -fx-border-color: #c51313;
    -fx-border-width: 0 0 0 4px; /* top right bottom left */
}